body{
    
    height: 95vh;
    width: 95vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image:url("https://imgur.com/KY9u20Q.jpg");
    color: rgb(213, 63, 213);
    
 
}

h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 45px;
    color: #0c8396;}
